<div class="row">
  <div class="col-6 p-5">
    <form>
      <div class="mb-3">
        <label for="product-name" class="form-label">Product Name</label>
        <input type="text" class="form-control" id="product-name" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="product-desc" class="form-label">Password</label>
        <input type="text" class="form-control" id="product-desc">
      </div>
      <div class="mb-3">
        <label for="product-price" class="form-label">Password</label>
        <input type="text" class="form-control" id="product-price">
      </div>
      <button type="submit" class="btn btn-primary">Create Product</button>
    </form>
  </div>
</div>
